/* This is called External CSS */

h1{
    background-color: brown;
    border: 5px solid red;
    color: blue;
}
h2{
    background-color: blue;
    border: 5px solid blueviolet;
}
h3{
    background-color: green;
    border: 5px solid grey;
}
*
{
    font-size:45px;
}