body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}




nav {
    background-color: #333;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav h2 {
    color: white;
    display: inline;
    margin-right: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    color: yellow;
}




main {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    min-height: 500px;
}

h1 {
    color: #333;
}

h2 {
    color: #444;
}

h3 {
    color: #555;
}

p {
    line-height: 1.6;
}



img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    border-radius: 10px;
}



input,
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}